body {
  font-family: Helvetica, sans-serif;
}

header {
  font-size: large;
  padding-left: 1%;
  /* font-weight: bold; */
}

header p {
  font-size: small;
}

a {
  color: black;
  font-weight: bold;
  padding-top: 1px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

aside {
  width: 15%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  /* border-left-color: rgb(189, 189, 189);
    border-left-width: 2px;
    border-left-style: groove; */
}

input[type="search"] {
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
}

input[type="submit"] {
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
}

aside form input[type="submit"] {
  margin-top: 3px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid black;
}

#filterform h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}

label {
  font-size: x-small;
}

aside form p {
  font-size: x-small;
}

.collapsable {
  display: none;
}

.collapsetoggle {
  font-size: x-small;
  padding-left: 5px;
}

#main_content {
  padding-left: 2.5%;
  padding-right: 2.5;
}

/* #multicharts ul {
    
} */

#multicharts ul li {
  list-style-type: none;
  width: 25%;
  display: inline-flex;
  /* background-color: pink; */
  min-height: 250px;
  margin-bottom: 7px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  /* border-color: black;
  border-width: 2px;
  border-radius: 1;
  border-style: ridge; */
}

.chart_container {
  display: flex;
  flex-direction: row-reverse;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1200px) {
  #multicharts ul li {
    width: 100%;
    min-height: 500px;
    height: 100%;
  }

  aside {
    float: none;
    margin: auto;
    width: 25%;
    display: block;
    justify-content: center;
    text-align: center;
  }

  #searchform {
    width: 100%;
    margin: auto;
  }
  
  aside form input[type="submit"] {
    margin-top: 3px;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
  }

  
input[type="search"] {
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid black;
  margin: auto;
}



  /* input[type="search"] {} */
}

aside dl {
  font-size: small;
}

aside dl dt {
  font-weight: bold;
}

.minichart {
  min-height: 220px;
  width: 100%;
  margin: 0.5rem;
  /* background-color: red; */
}

#singlechart {
  /* background-color: pink; */
  width: 70%;
  min-height: 90%;
}

.highcharts-description {
  font-size: small;
}

.bottom_text {
  display: inline-flex;
  margin: 0.5rem;
  overflow: auto;
}

#datasetnotes {
  font-size: x-small;
}

footer {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  font-size: xx-small;
  justify-content: center;
}
